**/dist/
/out-tsc/
node_modules/
/package-lock.json
/yarn.lock
/build
/tmp
/coverage/
/e2e/test-output/
/.angular/
.angular/
**/.vscode/

/.angular-cli.json
/.ng/
*.tsbuildinfo

logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.env
.env.development
.env.test
.env.production

.temp
.tmp