@if (trip) {
  <div class="relative w-full overflow-hidden rounded-2xl border border-surface bg-surface shadow-sm mb-10">
    <div class="relative h-56 sm:h-64 w-full bg-surface-hover">
        @if (trip.imageUrl) {
            <img [src]="trip.imageUrl" class="h-full w-full object-cover" />
        } @else {
            <div class="flex h-full w-full items-center justify-center text-stone-400">
            <span class="text-sm">No picture</span>
            </div>
        }
        
        <div class="absolute inset-0 bg-gradient-to-t from-black/70 via-black/10 to-transparent"></div>
        <span
            class="absolute top-4 left-4 rounded-full px-2.5 py-1 text-xs text-white shadow-md"
            [ngClass]="getBadgeColor(trip.status)">
            {{ trip.status }}
        </span>

        <div class="absolute bottom-0 left-0 right-0 p-5">
            <p class="text-xs font-semibold text-white uppercase tracking-wide mb-1">
            {{ isOngoing ? 'Current trip' : 'Upcoming trip' }} |
                @if (isOngoing) {
                <span class="text-xs text-white">{{ daysLeft }} {{ daysLeft === 1 ? 'day' : 'days' }} left</span>
                } 
                @else {
                <span class="text-2xl font-bold text-white leading-none">{{ daysUntil }}</span>
                <span class="text-xs text-stone-500"> starts in {{ daysUntil === 1 ? 'day' : 'days' }}</span>
                }
            </p>
            <h3 class="text-xl sm:text-2xl font-bold text-white">{{ trip.name }}</h3>
            <p class="mt-1 flex items-center gap-1 text-sm text-white">
            <span class="material-symbols-outlined !text-sm">calendar_today</span>
            <span>{{ formattedDateRange }}</span>
            </p>
        </div>
    </div>
  </div>
}