<div>
  <div class="flex gap-2 mb-4">
    <button 
        (click)="showPersonalList()"
        [ngClass]="activePersonalList() ? 'bg-secondary/60' : 'bg-surface-hover'"
        class="flex items-center px-4 py-1 text-sm rounded-full transition-all duration-200 cursor-pointer">
        Personal
      </button> 

      <button 
        (click)="showSharedList()"
        [ngClass]="!activePersonalList() ? 'bg-secondary/60' : 'bg-surface-hover'"
        class="flex items-center gap-2 px-4 py-1 text-sm rounded-full transition-all duration-200 cursor-pointer">
        Shared
      </button>

  </div>

  @for (err of deleteErrors$ | async; track err.id) {
    <div class="rounded-xl bg-accent/10 border border-accent/20 text-accent text-sm p-3 mb-2 flex justify-between">
      <span>Delete item unsuccesfull: {{ err.message }}</span>
      <button (click)="dismissDeleteError(err.id)" class="cursor-pointer">✕</button>
    </div>
  }

  <div class="mx-5 bg-surface border border-surface-hover rounded-2xl p-6 sm:p-8 shadow-sm">
    <div class="flex items-center justify-between mb-6 pb-4 border-b border-secondary/50">
        <div class="flex items-center gap-4">
            <span class="w-3 h-3 rounded-full bg-secondary"></span>
            <h2 class="text-xl font-bold tracking-tight text-main-text">{{ activePersonalList() ? 'Personal Packing List' : 'Shared Packing List' }}</h2>
            @if (activeProgress$ | async; as progress) {
              <span class="text-sm text-stone-400">{{ progress.packed }}/{{ progress.total }}</span>
            }
          </div>
          <button (click)="openCreateModal()"><span class="material-symbols-outlined bg-accent text-white p-0.5 rounded-full">add</span></button>
      </div>

    @if (isLoading$ | async) {
      <p class="text-sm text-stone-500">Loading items...</p>
    } 
    @else if (loadError$ | async; as error) {
      <div class="rounded-2xl bg-accent/10 p-6 text-sm text-accent border border-accent/20">
        {{ error }}
      </div>
    }
    @else {
      @if (activePersonalList()) {
        @for (group of personalItems$ | async; track group.category) {
          <div class="mb-4">
            <h3 class="text-sm font-semibold text-sub-text uppercase">{{ group.category }}</h3>

            @for (item of group.items; track item.id) {
              <app-packing-item [item]="item" [tripId]="this.tripId" (onDelete)="onDelete(item.id)" (checkChange)="onItemCheckChange($event)" />
            }
          </div>
        } @empty {
          <p class="text-sm text-sub-text">No items added.</p>
        }
      } 
      @else {
        @for (group of sharedItems$ | async; track group.category) {
          <div class="mb-4">
            <h3 class="text-sm font-semibold text-sub-text uppercase">{{ group.category }}</h3>

            @for (item of group.items; track item.id) {
              <app-packing-item [item]="item" [tripId]="this.tripId" (onDelete)="onDelete(item.id)" (checkChange)="onItemCheckChange($event)" />
            }
          </div>
        } @empty {
          <p class="text-sm text-sub-text">No items added.</p>
        }
      }
    }

      
  </div>
</div>

@if (showCreate()) {
  <app-create-update-item [tripId]="tripId" (closed)="closeCreateModal()" [defaultType]="activePersonalList() ? packingListEnum.PERSONAL : packingListEnum.SHARED" />
}